beautifulsoup4
requests

langchain-core
langchain-text-splitters
langchain-community
langchain-ollama
crewai
crewai_tools
openai 
duckduckgo-search

chromadb

sentence-transformers
torch

fastapi
uvicorn[standard]
pydantic>=2